name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        node-version: [10.1.x, 10.x, 12.0.x, 12.x, 14.0.x, 14.x, 15.x, 16.x]
        platform:
        - os: ubuntu-latest
          shell: bash
        - os: macos-latest
          shell: bash
        - os: windows-latest
          shell: bash
        - os: windows-latest
          shell: powershell
      fail-fast: false

    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v1.1.0

      - name: Use Nodejs ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      # Run for all environments
      - name: Run Tap Tests (no pre/post scripts, no debug checks)
        if: matrix.platform.os != 'ubuntu-latest' || matrix.node-version != '14.x'
        run: npm run test-only -- -c -t0
        env:
          ARBORIST_DEBUG: '0'
          NODE_OPTIONS: --no-warnings

      # Push coverage for specific environment
      - name: Run Tap Tests (push coverage results, verify linting, debug checks)
        if: matrix.platform.os == 'ubuntu-latest' && matrix.node-version == '14.x'
        run: npm test -- -c -t0
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
